<div class="iconlink">
  <i class="fab fa-github"></i>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-tumblr-square"></i>
</div>

<div style="display: table; height: 100vh; width: 100vw;">
  <div style="display: table-cell; vertical-align: middle">
    <div class="container">
      <div class="row vertical-align justify-content-between">
        <div class="col-lg-6">
          <h1>Hey, there.</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam orci, semper ut vestibulum eu, dignissim sed ligula. Quisque mattis, ante vitae sagittis ultricies, enim turpis tincidunt elit, a efficitur nunc enim porta quam. Duis sit amet hendrerit odio. Aenean quis vulputate leo. Nulla cursus purus sem, ac ornare nulla lobortis quis. Nullam facilisis feugiat erat in rutrum. Praesent malesuada iaculis orci, sed faucibus mi efficitur at.
          </p>
        </div>
        <div class="col-lg-5">
          <div class="links" style="height: 100%; width: 100%; display: table;">
            <tr><a href="/" class="navlink"><h2>About</h2></a></tr>
            <tr><a href="/" class="navlink"><h2>Portfolio</h2></a></tr>
            <tr><a href="/" class="navlink"><h2>Personal Projects</h2></a></tr>
            <tr><a href="/" class="navlink"><h2>Around the Web</h2></a></tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="square shape"></div>
<div class="triangle-outer shape"></div>
<div class="triangle-inner shape"></div>
<div class="circle shape"></div>
<div class="rhombus shape"></div>