<div class="iconlink">
  <i class="fab fa-github"></i>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-tumblr-square"></i>
</div>

<div style="display: table; height: 100vh; width: 100vw;">
  <div style="display: table-cell; vertical-align: middle">
    <div class="container">
      <div class="row vertical-align justify-content-between">
        <div class="col-lg-6" style="z-index: 3">
          <h1>Hey, there.</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam orci, semper ut vestibulum eu, dignissim sed ligula. Quisque mattis, ante vitae sagittis ultricies, enim turpis tincidunt elit, a efficitur nunc enim porta quam. Duis sit amet hendrerit odio. Aenean quis vulputate leo. Nulla cursus purus sem, ac ornare nulla lobortis quis. Nullam facilisis feugiat erat in rutrum. Praesent malesuada iaculis orci, sed faucibus mi efficitur at.
          <h3 class="signature">Trin Lee Jette</h3>
        </div>
        <div class="col-lg-5">
          <div class="links" style="height: 100%; width: 100%; display: table;">
            <tr><a href="/" class="navlink"><h2>About
                <div class="square shape"></div>
            </h2></a></tr>
            <tr><a href="/" class="navlink"><h2>Portfolio
                <div class="triangle-outer shape"></div>
                <div class="triangle-inner shape"></div>
            </h2></a></tr>
            <tr><a href="/" class="navlink"><h2>Personal Projects
                <div class="circle shape"></div>
            </h2></a></tr>
            <tr><a href="/" class="navlink"><h2>Around the Web
                <div class="rhombus shape"></div>
            </h2></a></tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>